<settings>
  <window name="TextEditor" left="250" top="250" width="503" height="753" maximized="false" />
  <window name="TESsnip" left="-8" top="-8" width="1920" height="1009" maximized="true" />
  <window name="StringEditor" left="320" top="163" width="598" height="378" maximized="false" />
</settings>